header {
  background-color: #2d333b;
  color: #fff;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
}
